#launch.json folder
log/

*trial*/
*old*/
*memo*

# Byte-compiled
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
.venv/
venv/
env/

# Distribution
build/
dist/
*.egg-info/

# pytest
.pytest_cache/

# Coverage
.coverage
htmlcov/

# mypy
.mypy_cache/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# profiling
*.prof
*.out